body {
	background: #e8e8e8;
}
.form-area {
	padding-top: 100px;
	padding-bottom: 100px;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background:#ffc048;
	padding: 255px 98px;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}

/* Estilos personalizados para input y textarea */
.form-control {
    border: 2px solid #000; /* Anula el borde de Bootstrap */
}

/* Estilos personalizados para botón */
button {
  border: 0;
  background-image: linear-gradient(
      150deg,
      #9500ff,
      #09f,
      #00DDFF
  );
border-radius: 8px;
color: #fff;
display: flex;
font-size: 18px;
padding: 4px;
cursor: pointer;
transition: .3s;
}

button span {
background-color: #111;
padding: 16px 24px;
border-radius: 6px;
transition: .3s;
}

button:hover span {
  background: none;
}

button :active {
  transform: scale(0.9);
}

/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}




